@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

html, body, #root{
    @apply bg-black text-white min-h-screen
}

@theme{
    --font-mont: "Montserrat", sans-serif;
    --font-grrif: "Griffy", system-ui;
}

.swiper-pagination-bullet{
    background-color: rgba(255, 255, 0, 0.5) !important;
}
.swiper-pagination-bullet-active{
    background-color: yellow !important;
}
.swiper-button-prev{
    color:yellow !important;
    background-color: rgba(255, 255, 0, 0.185);
    padding: 10px;
    border-radius: 50px;
}
.swiper-button-next{
    color:yellow !important;
    background-color: rgba(255, 255, 0, 0.185);
    padding: 10px;
    border-radius: 50px;
}